<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>4.3 Portada con Spring Boot</title>
<!--Bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--SCRIPTS-->
    <!--Jquery-->
    <script src="/js/jquery-3.0.0.min.js"></script>

    <!--Pooper-->
    <script src="/js/popper.min.js"></script>

    <!--Bootstrap-->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<h3>4.3 Portada con Spring Boot</h3>
    <h3>Desarrollo Web Avanzado</h3>
    <h3>173100301 Mauricio González Castelán</h3>
    <h3>20-05-2021</h3>
</body>
</html>